{% extends "template.html" %}
{% block content %}

    <div class="container mt-5">
        <h1>CSV Upload Test</h1>
        <p>Upload a CSV file and test the format it should match the following requirements.</p>
        <ul class="d-block">
            <li>column 1 is a timestamp with the following format "2012-03-24 15:00:00"</li>
            <li>column 2 should have the temperature in F <strong>not C or K</strong></li>
        </ul>
        <form method="POST" action="/upload/csv" enctype="multipart/form-data" class="mt-4 d-block">
          <div class="form-group">
            <label for="exampleFormControlFile1">Example file input</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="csv_file">
          </div>

            <button class="btn btn-primary" type="submit">Upload</button>
        </form>
    </div>





{% endblock %}