<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Flask Site</title>
        <!-- play in this sandbox and don't fuck shit up -->
        <script type="text/javascript"
            src="{{ url_for('static', filename='js/sandbox.js') }}"></script>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        <main role="main" class="container">
            <div class="jumbotron">
                <h2><span>A simple Flask web site</span></h2>
                <hr>
                <p>
                    This is my simple Flask web site.
                </p>
            </div>

            <div class="container jumbotron">
                <h2>Today's Date</h2>
                <hr>
                <p>{{date}}</p>
            </div>

            <div class="jumbotron">
                <h2>Sample Graph</h2>
                <hr>
                <div id="chart" style="height: 250px; width: auto;"></div>
                <script>
                    new Morris.Line({
                        // ID of the element in which to draw the chart.
                        element: 'chart',
                        // Chart data records -- each entry in this array
                        // corresponds to a point on the chart.
                        data: [
                            { year: '2008', value: 20 },
                            { year: '2009', value: 10 },
                            { year: '2010', value: 5 },
                            { year: '2011', value: 5 },
                            { year: '2012', value: 20 },
                        ],
                        // The name of the data record attribute that contains
                        // x-values.
                        xkey: 'year',
                        // A list of names of data record attributes that
                        // contain y-values.
                        ykeys: ['value'],
                        // Labels for the ykeys -- will be displayed when
                        // you hover over the chart.
                        labels: ['Value']
                    });
                </script>
                <br>
                <br>
            </div>
            <br>
            <div class="jumbotron">
                <h2>Another Graph?</h2>
                <hr>
                <h3>Attacks</h3>
                <div id="graph" onload="makeGraph();">
                </div>
            </div>

            <div class="jumbotron">
                <h2>Form stuff</h2>
                <hr>
                <h3>Add a New Notification Channel</h3>
                <!--look at form action attribute for submitting data to a different page via method=post/get-->
                <form id="newChannelForm" class="p-3" onsubmit="submitInfo()">
                    <!--Input a name for the new notification channel-->
                    <div class="col-6">
                        <label for="notification-name">Name</label>
                        <input type="text" class="form-control w-100" id="notification-name" required data-error="This field is required.">
                    </div>

                    <!--Select type of notification channel-->
                    <div class="col-6 form-group">
                      <label for="type-field">Type</label>
                      <select class="form-control" id="type-field" name="notify-type">
                            <option value="webhook">Webhook</option>
                            <option value="email">Email</option>
                      </select>
                    </div>

                    <!-- Always send a notification for every change-->
                    <div class="form-group">
                        <label class="control-label col-sm-3">Send on all notifications</label>                            
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span><input name="allnotifications" style="width: 24px; height:24px;" type="checkbox"></span>
                            </div>                             
                        </div>                              
                    </div>  
                    
                    <!--Display this field if email is selected and hide others-->
                    <div class="form-group" id="email-field-div">
                      <div class="col-6">
                        <label for="email-addr-field">Email Address</label>
                        <input type="email" class="form-control w-100" id="email-addr-field" name="email-addr">
                      </div>
                    </div>

                    <!--Display these fields if webhook selected and hide e-mail field-->
                    <div class="form-group" id="webhook-form">
                        <div class="col-6">
                            <label for="webhook-fields">Webhook URL</label>
                            <input type="text" class="form-control w-100" id="webhook-fields" name="webhook-url">
                        </div>
                    </div>

                    <div class="form-group" id="webhook-method">
                        <div class="col-6">
                            <label for="webhook-fields">HTTP Method</label>
                            <select class="form-control" id="webhook-methods" name="webhook-method">
                                <option value="GET">GET</option>
                                <option value="POST">POST</option>
                          </select>
                        </div>
                    </div>

                    <!--Submit button-->
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </main>
        {% endblock %}
    </body>
</html>

{% block scripts %}
<script>
    new Morris.Donut({
        // ID of the element in which to draw the chart.
        element: 'graph',
        // Chart data records -- each entry in this array
        // corresponds to a point on the chart.
        data: [
            { label: "SQL Injection", value: 13 },
            { label: "Port Scanning", value: 54 },
            { label: "Cross Site Scripting", value: 7 },
            { label: "Path Traversal", value: 19 },
        ],
        // The name of the data record attribute that contains
        // x-values.
        xkey: 'year',
        // A list of names of data record attributes that
        // contain y-values.
        ykeys: ['value'],
        // Labels for the ykeys -- will be displayed when
        // you hover over the chart.
        labels: ['Value']
    });

    $("#type-field").change(function() {
        if ($(this).val() == "email") {
            // email type was selected, hide webhook fields
            // and show email field
            $('#email-field-div').show();
            $("#webhook-form").hide();
            $("#webhook-method").hide();

            // Require email fields to be completed
            $('#email-addr-field').attr('required', '');
            $('#email-addr-field').attr('data-error', 'This field is required.');

            // Remove requirement that webhook fields must be completed
            $('#webhook-fields').removeAttr('required');
            $('#webhook-fields').removeAttr('data-error');
        } else if ($(this).val() == "webhook") {
            // Webhook selected, hide email fields and show webhook fields
            $('#email-field-div').hide();
            $("#webhook-form").show();
            $("#webhook-method").show();

            // Remove requirement email fields must be complete
            $('#email-addr-field').removeAttr('required');
            $('#email-addr-field').removeAttr('data-error');

            // Add requirement that webhook fields be completed
            $('#webhook-fields').attr('required', '');
            $('#webhook-fields').attr('data-error', 'This field is required.');
        }
    });

    $("#type-field").trigger("change");

    function submitInfo() {
        //var formdata = $("#newForm").serializeArray();
        var dataArray = $("#newChannelForm").serializeArray(),
            len = dataArray.length,
            dataObj = {};

        for (i=0; i<len; i++) {
            dataObj[dataArray[i].name] = dataArray[i].value;
        }


        //alert("Email address: " + dataObj['email-addr'])
        alert(dataObj['email-addr']);
        //alert($('form').serialize());
    }
</script>
{% endblock %}
